
<form action="/groups/create" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

  Org Name: <input type="text" name="Org Name">

  Description: <input type="text" name="Description">

  <button type="submit" value="Create">Create</button>

</form>
